  $theme: #4CD4CB;

  html, body {
    margin: 0;
    height: 100%;
    
  }
  body {
    background-color: #4CD4CB;
  }
  
  * {
    box-sizing: border-box;
  }
    /* start top nav-bar */ 
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $theme;
    
    
    color: rgb(5, 5, 5);
    height: 90px;
    padding: 1em;
  }
  #nav-logo_wrapper, #nav-logo_img {
      display: flex;
      justify-items: end;
      height: 90px;


  }
    
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35em;

  }
  
  .menu > li {
    margin: 0 1rem;
  }
  a.menu-drop {
      text-decoration: none;
      color: rgb(0, 0, 0);
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #334B49;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  /* media breakpoint*/ 
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;

    }
    .menu {
      position: absolute;
      top: 89px;      
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid $theme;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      background: $theme;
      color: black;
       
    }
    #menu-toggle:checked ~ .menu li a.menu-drop {
        color: black;
    }
    .menu > li {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: rgba(255, 255, 255, 0);
      background-color: $theme;
    }
    a.menu-drop {
        text-decoration: none;
        color: rgba(255, 255, 255, 0);
    }
    a.menu-drop::before {
        color: rgba(255, 255, 255, 0);
        display: none;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0);
    }
    .main-content #portfolio-content{
     margin-left: auto;
    }
    .marquee-wrapper {
      margin-left: 4%;
    }

    /*end media break*/ 

   
    }
    /* end top nav-bar*/

 /*start main-image top*/
 .main-image_wrapper {
  display: flex;
  background-color: rgba(255, 255, 255, 0.246);
 
}
.main-image_wrapper > #main-image {
  width: 100%;
  z-index: -1;
 
}

/*start marquee*/
.marquee-container #portfolio-content {
  display: flex;
  justify-content: center;
  background-color: $theme;  
  font-size: 18px;


} 
.marquee-container > #portfolio-content {
  font-family: "Fredoka" sans-serif;
}
.marquee-wrapper{
  margin-left: 3%;
}

.marquee-wrapper .container{
  overflow:hidden;
  margin: auto !important;
  text-align:center;
  height: 40px;
}
.marquee-inner span{
  height:50%;
}

#portfolio-content .pre-marquee p {
  padding-right: 4px;
  font-family: 'Montserrat', sans-serif;
  color: #334B49;

}





.container p {
  height: 30px;
  box-sizing: border-box;
  position: relative;
  animation-delay: 3.2s;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 0.31, 1.05);
}
.container 


#one {
  animation-name: scrollOne;
  font-family: 'Comfortaa', cursive;
}

#two {
  animation-name: scrollTwo;
  font-family: 'Satisfy', cursive;
}

#three {
  animation-name: scrollThree;
  font-family: 'Source Code Pro', monospace;
}

#four {
  animation-name: scrollFour;
  font-family: 'Prata', serif;
}

@keyframes scrollOne {
  0% {
    bottom: 0;
  }
  5%{
    bottom: 46px;
    visibility: visible;
  }
  60%{
    bottom: 46px;
    visibility: hidden;
  }
  70%{
    bottom: -46px;
    visibility: hidden;
  }
  75% {
    bottom: 0;
  }
  100% {
    bottom: 0x
  }
}

@keyframes scrollTwo {
  0% {
    bottom: 0;
  }
  5% {
    bottom: 46px;
  }
  20% {
    bottom: 46px;
  }
  25% {
    bottom: 92px;
  }
  100% {
    bottom: 92px
  }
}

@keyframes scrollThree {
  0% {
    bottom: 46px;
  }
  20% {
    bottom: 46px;
  }
  25% {
    bottom: 92px;
  }
  45% {
    bottom: 92px;
  }
  50% {
    bottom: 138px;
  }
  100% {
    bottom: 138px;
  }
}

@keyframes scrollFour {
  0% {
    bottom: 92px;
  }
  20% {
    bottom: 92px;
  }
  45% {
    bottom: 92px;
  }
  50% {
    bottom: 138px;
  }
  70% {
    bottom: 138px;
  }
  75% {
    bottom: 184px;
  }
  100% {
    bottom: 184px;
  }
}

/*end marquee*/ 


/*start index page content*/ 


.overview-container {
  background-color:#C1FCF6 ;  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fredoka" sans-serif;
  font-weight: normal;
  color: #334B49;
  font-size: 1.3em;
  text-align: center;


}
img#new-guy {
  height: 250px;
  border-radius: 50%;
  box-shadow:7px 5px 3px 2px #334b49b3;
  flex-shrink: 1.7;
  position: relative;
  top: 1em;

}
div#contact {
  display: flex;
  flex-direction: column;
  align-items: center;


}
div#contact p {
color: #545479;
font-size: larger;


}
/*end main content*/
  
/*start contact and ext. links*/ 
  
 a.contact-button_bottom {
  border-radius: 2em;
  display: inline-block;
  padding: 0.4em 1.3em 0.4em;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  font-family: "Smooch Sans" sans-serif;
  color: #545479;
  background-color: #bcbcd173;  
  border: 2px solid #2d5fa0f6;
  font-weight: bold;
  transition: all 0.2s cubic-bezier(0.89, 0.17, 1, 1);
  

  
 
}
img#social{
  height: 32px;
  height: 32px;
}
a.contact-button_bottom:hover {
  background-color:#545479 ;
  color: #ade0d9;}
  


  

#bottom-linebreak1 {
  width: 80%;
}
#bottom-linebreak2 {
  width: 45%;
}
.universal-bottom {
  text-align: center;
  color: #334B49;


}
.internal-links {
  display: flex;
  justify-content: space-evenly;
}
.internal-links a {
  text-decoration: none;
  font-family: "Quicksand" sans-serif;
}
/*end index page*/

/*start blog page*/
  
article.blog {
text-align: center;
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: center;
background-color:#00ABC5 ;
justify-content: flex-start;
align-content: stretch;
flex-wrap: wrap;
background-image: url(./images/Coolum-Beach.jpg);
background-repeat: no-repeat;
background-size: cover;



}

body>article.blog > h1#blog-head {
  font-family: monospace;
  text-align: center;
  font-size: 3.3em;
  border:3px solid #334B49;
  width: 3.5em;
  background-color: #C1FCF6;
  
  color: #334B49;
  box-sizing: border-box;
   
 
}
.blog-wrapper_all {
  border:6px double #545479;
box-sizing: border-box;
width:85%;
height: auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-bottom: 4em;
background: #5bb7c5a4;



}

.blog-img {  
  border-radius: 16%; 
  width: 360px;
  height: 360px;
  max-width: 75%;
  max-height: auto;



}
.blog-section_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  }
  .blog-wrapper_all #h2 {
    font-size: xx-large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#003834 ;

    
    


  }
  .blog-wrapper_discrete p {
    text-align: center;
    color: #003834;

  }
  /*start contact page*/ 
  
 .main-contact {
   display: flex;
   justify-content: center;
 
   
  img#contact-head_img {
    width: 100%;
    height:auto;
   opacity: 50%;
   position: absolute;
   z-index: -1;

  } 
   h2#main-contact_head {
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    position: relative;
    top: 40%;
    background-color: #192524;
    color:#00BE88 ;
    width: 45%;
    box-sizing: border-box;
    border-radius: 0.4em;

  }
}
div.contact-form {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 12%;
  div.contact-form_inner{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 75%;
    list-style: none;
    align-items: center;
    margin-bottom:12%;
    
    h2#contact-h2{
      display: contents;
      font-size: xx-large;      
      font-weight: normal;
      color: #ade0d9;
      text-shadow:2px 2px #00ABC5;
      margin: 3%;

    }
    >p {
      border: 3px solid #00A08D;
      border-radius: 0.4em 0.4em;
      font-size: larger;
      color:#080601 ;
      padding: 4px 4px;
      background: #9cadbcbe;
      margin-left: 20%;
      margin-right: 20%;


      

    }
    ul {
      list-style: none;
    }
    .fields {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 5px;
      
      input{
        margin-top: 5px;
      }
      >input#send{
        padding: 0.4em 0.4em 0.4em 0.4em;
        border: 3px solid #00A08D;
      border-radius: 0.4em 0.4em;
      font-size: larger;
      color:#080601 ;
      padding: 4px 4px;
      background: #9cadbcbe;
      transition: all 0.2s linear;

        
      }
      >input#send:hover{
        background:#f8f8f88a ;
        color: #00ABC5;
        cursor: pointer;
        border: 3px ridge #00ABC5;
        box-shadow: 2px 2px ;
        transition: all 0.2s linear;
        transform: scale(1.025);
      }

    }
    form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.5em;
      width: 100%;
      
      label{
        font-weight:bold ;
        background: #DBF7F2;
        color:#266D94 ;
        width: fit-content;
        padding: 0.4em;
        border:3px solid#266D94 ;
        border-radius: 0.4em 0.4em 0.4em 0.4em;
      }
      

    }
    article  {
      width: 100%;
      nav#bottom-social{
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

    }
    
  }

}
.universal-bottom_contact{
  text-align: center;
  color: #334B49;
  background-color: #4CD4CB;
} 



